*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fefefe;
}

p, a{
  font-size: 18px;
}

.logo-styled{
  width:47%;
}

.carousel-styled{
  height: 90vh;
  width:100%;
}

.carousel-inner{
  height:90vh;
  width:100%;
}

.carousel-img{
  height:100%;
  width:100%;
}

.img-styled{
  height:100%;
  width:100%;
}

.navbar-styled{
  margin-bottom: 0;
}
.navbar-default{
  background-color: #fefefe;
}
.py-10{
  padding: 20px 0;
}

.title>p{
  font-size: 35px;
  font-weight: 700;
  color: #D7D84D;
}

.maps-size{
  width:100%;
}

.row{
  margin:0;
}

.d-flex-left{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.d-flex-right{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.d-flex-center{
  display: flex;
  align-items: center;
}

ul{
  margin-left: 30px;
}

.ul-menu-styled{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.container-stratch{
  display: flex;
  align-items: stretch;
}

.menu-hover:hover{
  color: #D7D84D !important;
}

.container-relative{
  position:relative;
}
.up-anchor{
  position:absolute;
  right: 30px;
  top: 60px;
  width: 30px;
  border-radius: 100%;
}
.p-sticky{
  position: sticky;
  top: 80vh;
  z-index: 999;
}
.anchor-arrow-svg{
  border-radius: 100%;
}
.anchor-arrow-svg:hover{
  background-color: #D7D84D;
}


@media screen and (max-width: 1540px) {
  .carousel-styled{
    height: 100%;
  }
}

@media screen and (max-width: 992px) {
  p, a{
    font-size: 15px;
  }
  .title>p{
    font-size: 28px;
  }
  .carousel-inner{
    height:100%;
  }
  .carousel-styled{
    height: 100%;
  } 
  .logo-styled{
    width:100%;
  }
}

@media screen and (max-width: 767px) {
  .d-flex-right{
    display: flex;
    flex-direction: column;
  }
  .d-flex-left{
    display: flex;
    flex-direction: column;
  }
  .container-styled{
    padding-top: 20px;
  }
  .logo-styled{
    width:30%;
  }
  .menu-hide-767{
    display: none;
  }
  .logo-center{
    display: flex;
    justify-content: center;
  }
  .anchor-arrow{
    display: none;
  }
}
